@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #1a202c;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.link {
  color: rgba(255, 255, 255, 0.5);
}

.link > div > span {
  height: 48px;
  width: 53px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  left: -10px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.link:hover {
  color: rgba(255, 255, 255, 0.8);
}

.active {
  color: #605cff;
}

.active > div > span {
  background-color: rgba(255, 255, 255, 0.5);
  height: 48px;
  width: 53px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  left: -10px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.active:hover {
  color: #5f5cffce;
}

.navlink {
  height: 18px;
}

.ql-toolbar {
  background: #fff;
  color: #1a202c;
}
